In [19]:
import numpy as np
import pandas as pd

from luwiji.pandas import illustration

# Membuat DataFrame

In [20]:
contoh_data = {"a":[1,2,3],"b":[3,4,5],"c":[5,6,7]}
pd.DataFrame(contoh_data)

   a  b  c
0  1  3  5
1  2  4  6
2  3  5  7

# Membaca data dari file

In [21]:
df = pd.read_csv("data/cereal.csv")
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6.0,280.0,FDA_25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8.0,135.0,FDA_0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5.0,320.0,FDA_25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0.0,330.0,FDA_25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8.0,NaN,FDA_25,3,1.0,0.75,34.384843

In [ ]:
df.tail()

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df.shape

In [ ]:
illustration.nomenklatur

# Get columns dan rows

In [ ]:
df.mfr.head()

In [ ]:
df['mfr'].head() #biasanya digunakan jika ada spasi

In [ ]:
df[['name','mfr','calories']].head()

In [ ]:
df[['name','mfr','calories']][5:10]

# Slicing menggunakan  .iloc dan .loc

In [ ]:
df.loc[1:4, "type":"sugars"] # slice menggunakan nama

In [ ]:
df.iloc[1:4, 3:5]

In [ ]:
df.loc[1:4, ["name","fat","rating"]] # slice menggunakan nama

In [ ]:
df.iloc[1:4, [2,6,8]]

### Mengganti kolom index

In [ ]:
df = pd.read_csv('data/cereal.csv', index_col="name")
df.head()

In [ ]:
df.loc["All-Bran":"Bran Flakes", "calories":"shelf"]

In [ ]:
df.iloc[5:10, 3:8]

# DataFrame Summary

### Statistics

In [ ]:
df.corr()

In [ ]:
df.describe().T

### Count

In [ ]:
df.info()

In [ ]:
df.mfr.value_counts()

### unique

In [ ]:
df.mfr.unique()

In [ ]:
df.type.unique()

In [ ]:
df.shelf.unique()

In [ ]:
df.nunique()

In [ ]:
df.calories

## Series

In [ ]:
df.rating.head()

In [ ]:
df[["rating"]]

In [ ]:
df.rating.mean()

In [ ]:
df.rating.median()

In [ ]:
df.carbo.count()

# NaN Value

NaN = Not a Number

In [ ]:
df.isna().sum()

### drop missing value

In [ ]:
df.dropna().head()

### impute missing value

In [ ]:
df.fillna("==JCOp==").head()

In [ ]:
df.fillna(df.mean(), inplace=True)
df.head()

## Save to csv

In [ ]:
df.to_csv("data/cereal_imp.csv", index_label='name')